<div class="container my-5">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">About this Angular App</h1>
          <hr>
          <p class="col-md-8 fs-4">This is an app inspired by Google Keep/ Apple Notes having all the CRUD functionalities and more!</p>
          <p>The app is only made by Aakash Deep for learning purposes only.
            <br>
            Resources used: Angular Documentation, CodeWithHarry.
          </p>
        </div>
    </div>
</div>